div {
    margin: auto;
    background-color: bisque;
}

body {
    background-color: bisque;
}

.tirooblicuo {
    background-color: mediumblue;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
}

.tirooblicuo:hover {
    background-color: #1c1b1b;
}

.tirovertical {
    background-color: mediumblue;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
}

.tirovertical:hover {
    background-color: #1c1b1b;
}

.tituloPrincipal h1 {
    text-align: center;
}

.columna1 {
    text-align: center;
}

.columna2 {
    text-align: center;
}

.fondo {
    margin-bottom: 100px;
}


