div {
    margin: auto;

}

body {
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(45deg, #b02552, #561d56, #156515,black);
    background-size: 400% 400%;
    position: relative;
    animation: cambiar 10s ease-in-out infinite;
}

.tirooblicuo {
    background-color: mediumblue;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
}

.tirooblicuo:hover {
    background-color: #1c1b1b;
}

.tirovertical {
    background-color: mediumblue;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
}

.tirovertical:hover {
    background-color: #1c1b1b;
}

.tituloPrincipal h1 {
    text-align: center;
    font-size:80px;
    font-family: 'Fondamento', cursive;
    margin-bottom: 10px;
    margin-top: 15px;
}

.columna1 {
    text-align: center;
}

.columna1 h3{
    font-family: 'Oswald', cursive;
}

.columna2 {
    text-align: center;
}

.fondo {
    margin-bottom: 80px;
    margin-top: -20px;
}

.fondo .infoAdicional{
    color: black;
}

#imagenPagPrincTO {
    width: 600px;
    margin-left: 60px;
    margin-bottom: 40px;
    margin-top: 60px;
}

#imagenPagPrincTV {
    width: 500px;
    margin-left: 60px;
    margin-bottom: 40px;
    margin-top: 60px;
}

.fondoPantalla {

}

@keyframes cambiar{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}